/* Estilo global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1a1a1a;  /* Fondo oscuro */
    color: #f0f0f0;  /* Texto claro */
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

h1, h2 {
    color: #e0e0e0;  /* Color claro para los encabezados */
    margin-bottom: 20px;
}

form {
    background-color: #2c2c2c;  /* Fondo oscuro para el formulario */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    width: 100%;
    max-width: 400px;
}

label {
    font-size: 1rem;
    margin-bottom: 8px;
    display: block;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    background-color: #333333;  /* Fondo oscuro para los inputs */
    border: 1px solid #444444;  /* Borde oscuro */
    border-radius: 4px;
    color: #f0f0f0;
    font-size: 1rem;
}

input[type="text"]:focus,
input[type="password"]:focus {
    outline: none;
    border-color: #ffcc00;  /* Resaltar borde en amarillo al enfocarse */
    background-color: #444444;
}

input[type="submit"] {
    width: 100%;
    padding: 12px;
    background-color: #ffcc00;  /* Botón amarillo */
    border: none;
    border-radius: 4px;
    color: #1a1a1a;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #ff9900;  /* Cambiar a naranja en hover */
}

h2 {
    color: #ee2525;  /* Color de error en rojo */
    font-size: 1rem;
    text-align: center;
    margin-top: 10px;
}
